# Regression Model Application on Concrete data

### 1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

### 2. Concrete Data:

For your convenience, the data can be found here again: https://cocl.us/concrete_data. To recap, the predictors in the data of concrete strength include:

    1.Cement
    2.Blast Furnace Slag
    3.Fly Ash
    4.Water
    5.Superplasticizer
    6.Coarse Aggregate
    7.Fine Aggregate

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check shape of data

In [3]:
concrete_data.shape

(1030, 9)

Check the data distribution

In [4]:
concrete_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Cement,1030.0,281.167864,104.506364,102.00,192.375,272.900,350.000,540.0
Blast Furnace Slag,1030.0,73.895825,86.279342,0.00,0.000,22.000,142.950,359.4
Fly Ash,1030.0,54.188350,63.997004,0.00,0.000,0.000,118.300,200.1
Water,1030.0,181.567282,21.354219,121.80,164.900,185.000,192.000,247.0
Superplasticizer,1030.0,6.204660,5.973841,0.00,0.000,6.400,10.200,32.2
Coarse Aggregate,1030.0,972.918932,77.753954,801.00,932.000,968.000,1029.400,1145.0
Fine Aggregate,1030.0,773.580485,80.175980,594.00,730.950,779.500,824.000,992.6
Age,1030.0,45.662136,63.169912,1.00,7.000,28.000,56.000,365.0
Strength,1030.0,35.817961,16.705742,2.33,23.710,34.445,46.135,82.6

Check for any missing values in data

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

There are no missing values in data

Seperate out data for predictors & target data

In [6]:
predictors = concrete_data.drop('Strength', axis=1) # all columns except Strength
target = concrete_data['Strength'] # Strength column

Quickly check the data

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head(3)

0    79.99
1    61.89
2    40.27
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to n_cols since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

## Import neccessary libraries

In [11]:
import keras

Using TensorFlow backend.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

### Build Neural Network model

In [13]:
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(1))
    
# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

### 1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=1, shuffle=True)

### 2. Train the model on the training data using 50 epochs.

In [16]:
history = model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
 - 0s - loss: 1489.2836
Epoch 2/100
 - 0s - loss: 1474.4328
Epoch 3/100
 - 0s - loss: 1458.5393
Epoch 4/100
 - 0s - loss: 1442.1665
Epoch 5/100
 - 0s - loss: 1424.4659
Epoch 6/100
 - 0s - loss: 1405.1907
Epoch 7/100
 - 0s - loss: 1384.6738
Epoch 8/100
 - 0s - loss: 1362.7777
Epoch 9/100
 - 0s - loss: 1338.8580
Epoch 10/100
 - 0s - loss: 1313.8756
Epoch 11/100
 - 0s - loss: 1287.0330
Epoch 12/100
 - 0s - loss: 1259.0566
Epoch 13/100
 - 0s - loss: 1229.6677
Epoch 14/100
 - 0s - loss: 1199.3412
Epoch 15/100
 - 0s - loss: 1167.5998
Epoch 16/100
 - 0s - loss: 1135.0248
Epoch 17/100
 - 0s - loss: 1101.8068
Epoch 18/100
 - 0s - loss: 1067.8123
Epoch 19/100
 - 0s - loss: 1033.3350
Epoch 20/100
 - 0s - loss: 998.6625
Epoch 21/100
 - 0s - loss: 963.0918
Epoch 22/100
 - 0s - loss: 927.9949
Epoch 23/100
 - 0s - loss: 892.8477
Epoch 24/100
 - 0s - loss: 858.1606
Epoch 25/100
 - 0s - loss: 823.7493
Epoch 26/100
 - 0s - loss: 790.0880
Epoch 27/100
 - 0s - loss: 756.8245
Epoch 28/100
 - 0s - loss: 724.5526
Epoch 29/100
 - 0s - loss: 692.9367
Epoch 30/100
 - 0s - loss: 662.4875
Epoch 31/100
 - 0s - loss: 632.7755
Epoch 32/100
 - 0s - loss: 604.5634
Epoch 33/100
 - 0s - loss: 577.2198
Epoch 34/100
 - 0s - loss: 550.9799
Epoch 35/100
 - 0s - loss: 526.0691
Epoch 36/100
 - 0s - loss: 501.9923
Epoch 37/100
 - 0s - loss: 479.2786
Epoch 38/100
 - 0s - loss: 457.7999
Epoch 39/100
 - 0s - loss: 437.1729
Epoch 40/100
 - 0s - loss: 418.0632
Epoch 41/100
 - 0s - loss: 399.5658
Epoch 42/100
 - 0s - loss: 382.2281
Epoch 43/100
 - 0s - loss: 365.8107
Epoch 44/100
 - 0s - loss: 350.5327
Epoch 45/100
 - 0s - loss: 335.9132
Epoch 46/100
 - 0s - loss: 322.5223
Epoch 47/100
 - 0s - loss: 309.8738
Epoch 48/100
 - 0s - loss: 298.1429
Epoch 49/100
 - 0s - loss: 287.3710
Epoch 50/100
 - 0s - loss: 277.2727
Epoch 51/100
 - 0s - loss: 268.1683
Epoch 52/100
 - 0s - loss: 259.9437
Epoch 53/100
 - 0s - loss: 251.8549
Epoch 54/100
 - 0s - loss: 244.7285
Epoch 55/100
 - 0s - loss: 238.0730
Epoch 56/100
 - 0s - loss: 232.0964
Epoch 57/100
 - 0s - loss: 226.3498
Epoch 58/100
 - 0s - loss: 221.4407
Epoch 59/100
 - 0s - loss: 216.5412
Epoch 60/100
 - 0s - loss: 212.1528
Epoch 61/100
 - 0s - loss: 208.0201
Epoch 62/100
 - 0s - loss: 204.0816
Epoch 63/100
 - 0s - loss: 200.5415
Epoch 64/100
 - 0s - loss: 197.0640
Epoch 65/100
 - 0s - loss: 193.9151
Epoch 66/100
 - 0s - loss: 190.7533
Epoch 67/100
 - 0s - loss: 187.8485
Epoch 68/100
 - 0s - loss: 185.0331
Epoch 69/100
 - 0s - loss: 182.3629
Epoch 70/100
 - 0s - loss: 179.8013
Epoch 71/100
 - 0s - loss: 177.3114
Epoch 72/100
 - 0s - loss: 174.8735
Epoch 73/100
 - 0s - loss: 172.7164
Epoch 74/100
 - 0s - loss: 170.4822
Epoch 75/100
 - 0s - loss: 168.2633
Epoch 76/100
 - 0s - loss: 166.2668
Epoch 77/100
 - 0s - loss: 164.3231
Epoch 78/100
 - 0s - loss: 162.5069
Epoch 79/100
 - 0s - loss: 160.7257
Epoch 80/100
 - 0s - loss: 158.9213
Epoch 81/100
 - 0s - loss: 157.3572
Epoch 82/100
 - 0s - loss: 155.7578
Epoch 83/100
 - 0s - loss: 154.2975
Epoch 84/100
 - 0s - loss: 152.8001
Epoch 85/100
 - 0s - loss: 151.4347
Epoch 86/100
 - 0s - loss: 149.9509
Epoch 87/100
 - 0s - loss: 148.5804
Epoch 88/100
 - 0s - loss: 147.2710
Epoch 89/100
 - 0s - loss: 146.0155
Epoch 90/100
 - 0s - loss: 144.7923
Epoch 91/100
 - 0s - loss: 143.5144
Epoch 92/100
 - 0s - loss: 142.3573
Epoch 93/100
 - 0s - loss: 141.2276
Epoch 94/100
 - 0s - loss: 140.1424
Epoch 95/100
 - 0s - loss: 139.0691
Epoch 96/100
 - 0s - loss: 137.9836
Epoch 97/100
 - 0s - loss: 136.9395
Epoch 98/100
 - 0s - loss: 135.9755
Epoch 99/100
 - 0s - loss: 135.0233
Epoch 100/100
 - 0s - loss: 133.9764

### 3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [17]:
predictors = model.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
err = mean_squared_error(y_test, predictors)
print(err)

174.83103149981855

Error value is very big for the given set-up

### 4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [20]:
#Define model as model1 which we will use with 50 iterations
model1 =Sequential()
model1.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model1.add(Dense(1))

# compile model
model1.compile(optimizer='adam', loss='mean_squared_error')

In [21]:
#Error value holder
error = np.zeros(50)

# For loop for 50 iterations & for 100 epochs
for i in range(50):
    X_tr, X_tt, y_tr, y_tt = train_test_split(predictors_norm, target, test_size=0.30, random_state=1, shuffle=True)
    hist = model1.fit(X_tr, y_tr, epochs=100, verbose=0)
    preds = model1.predict(X_tt)
    err = mean_squared_error(y_tt, preds)
    error[i] = err
    print("Error from iteration {}, is {}".format(i+1,err))

Error from iteration 1, is 185.47158018744875
Error from iteration 2, is 118.27673054874785
Error from iteration 3, is 76.97004312880286
Error from iteration 4, is 63.666086532530095
Error from iteration 5, is 59.18707074488494
Error from iteration 6, is 56.86426935627743
Error from iteration 7, is 55.83770870304626
Error from iteration 8, is 54.32274719103869
Error from iteration 9, is 53.1139996041553
Error from iteration 10, is 52.75175804047723
Error from iteration 11, is 52.46974296761239
Error from iteration 12, is 52.11926931654388
Error from iteration 13, is 51.92867135678837
Error from iteration 14, is 51.421707090859954
Error from iteration 15, is 51.179116633454235
Error from iteration 16, is 50.155671891751105
Error from iteration 17, is 49.913420867007176
Error from iteration 18, is 49.76761965101398
Error from iteration 19, is 49.57174788990471
Error from iteration 20, is 49.322091435272576
Error from iteration 21, is 49.36330862706733
Error from iteration 22, is 49.101230436709464
Error from iteration 23, is 49.19315111080781
Error from iteration 24, is 48.92358968953365
Error from iteration 25, is 48.77158563215734
Error from iteration 26, is 48.76927723434516
Error from iteration 27, is 48.3707846240254
Error from iteration 28, is 48.47332080512641
Error from iteration 29, is 48.66536676201861
Error from iteration 30, is 48.36334437447784
Error from iteration 31, is 48.28974008411458
Error from iteration 32, is 48.38894638660252
Error from iteration 33, is 48.33602525855212
Error from iteration 34, is 48.357261962946225
Error from iteration 35, is 48.35900624018103
Error from iteration 36, is 48.35405539170579
Error from iteration 37, is 48.215142691870575
Error from iteration 38, is 48.10334152722901
Error from iteration 39, is 48.18641743928825
Error from iteration 40, is 48.18564823772871
Error from iteration 41, is 48.12773609071293
Error from iteration 42, is 47.87657557872548
Error from iteration 43, is 47.88205291839109
Error from iteration 44, is 47.68515255929898
Error from iteration 45, is 47.668891998542094
Error from iteration 46, is 47.788667021584885
Error from iteration 47, is 47.951285047159864
Error from iteration 48, is 47.840231552494906
Error from iteration 49, is 47.63150458962685
Error from iteration 50, is 47.38875315426696

### 5. Report the mean and the standard deviation of the mean squared errors.

In [22]:
dev = np.std(error)
Mn = np.mean(error)
print("Mean is {}, and std. deviation is {}".format(Mn,dev))

Mean is 54.658448963298184, and std. deviation is 21.521186073946016

### How does the mean of the mean squared errors compare to that from Step B?

Mean had smaller improvements & std. deviation with 100 epochs reduced to half compared to B.