# Regression Model Application on Concrete data

### 1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

### 2. Concrete Data:

For your convenience, the data can be found here again: https://cocl.us/concrete_data. To recap, the predictors in the data of concrete strength include:

    1.Cement
    2.Blast Furnace Slag
    3.Fly Ash
    4.Water
    5.Superplasticizer
    6.Coarse Aggregate
    7.Fine Aggregate

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check shape of data

In [3]:
concrete_data.shape

(1030, 9)

Check the data distribution

In [4]:
concrete_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Cement,1030.0,281.167864,104.506364,102.00,192.375,272.900,350.000,540.0
Blast Furnace Slag,1030.0,73.895825,86.279342,0.00,0.000,22.000,142.950,359.4
Fly Ash,1030.0,54.188350,63.997004,0.00,0.000,0.000,118.300,200.1
Water,1030.0,181.567282,21.354219,121.80,164.900,185.000,192.000,247.0
Superplasticizer,1030.0,6.204660,5.973841,0.00,0.000,6.400,10.200,32.2
Coarse Aggregate,1030.0,972.918932,77.753954,801.00,932.000,968.000,1029.400,1145.0
Fine Aggregate,1030.0,773.580485,80.175980,594.00,730.950,779.500,824.000,992.6
Age,1030.0,45.662136,63.169912,1.00,7.000,28.000,56.000,365.0
Strength,1030.0,35.817961,16.705742,2.33,23.710,34.445,46.135,82.6

Check for any missing values in data

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

There are no missing values in data

Seperate out data for predictors & target data

In [6]:
predictors = concrete_data.drop('Strength', axis=1) # all columns except Strength
target = concrete_data['Strength'] # Strength column

Quickly check the data

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head(3)

0    79.99
1    61.89
2    40.27
Name: Strength, dtype: float64

Let's save the number of predictors to n_cols since we will need this number when building our network.

In [9]:
n_cols = predictors.shape[1] # number of predictors

## Import neccessary libraries

In [10]:
import keras

Using TensorFlow backend.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

### Build Neural Network model

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a 'ReLU' activation function

- Use the 'adam' optimizer and the 'mean squared error' as the loss function

In [13]:
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(1))
    
# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

### 1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# Train, test data sets split by 30%
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=1, shuffle=True)

### 2. Train the model on the training data using 50 epochs.

In [16]:
history = model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
 - 0s - loss: 29823.5186
Epoch 2/50
 - 0s - loss: 1795.2946
Epoch 3/50
 - 0s - loss: 1322.3655
Epoch 4/50
 - 0s - loss: 1002.5326
Epoch 5/50
 - 0s - loss: 864.5558
Epoch 6/50
 - 0s - loss: 745.1353
Epoch 7/50
 - 0s - loss: 641.7271
Epoch 8/50
 - 0s - loss: 560.3095
Epoch 9/50
 - 0s - loss: 485.3625
Epoch 10/50
 - 0s - loss: 428.3570
Epoch 11/50
 - 0s - loss: 381.9929
Epoch 12/50
 - 0s - loss: 345.6184
Epoch 13/50
 - 0s - loss: 315.5341
Epoch 14/50
 - 0s - loss: 292.3784
Epoch 15/50
 - 0s - loss: 272.7539
Epoch 16/50
 - 0s - loss: 257.8144
Epoch 17/50
 - 0s - loss: 245.0449
Epoch 18/50
 - 0s - loss: 232.8009
Epoch 19/50
 - 0s - loss: 225.4629
Epoch 20/50
 - 0s - loss: 217.0179
Epoch 21/50
 - 0s - loss: 209.0574
Epoch 22/50
 - 0s - loss: 202.6743
Epoch 23/50
 - 0s - loss: 197.1351
Epoch 24/50
 - 0s - loss: 190.2762
Epoch 25/50
 - 0s - loss: 185.0915
Epoch 26/50
 - 0s - loss: 181.3109
Epoch 27/50
 - 0s - loss: 175.8032
Epoch 28/50
 - 0s - loss: 171.2757
Epoch 29/50
 - 0s - loss: 166.6206
Epoch 30/50
 - 0s - loss: 163.8530
Epoch 31/50
 - 0s - loss: 161.1602
Epoch 32/50
 - 0s - loss: 155.6712
Epoch 33/50
 - 0s - loss: 152.3265
Epoch 34/50
 - 0s - loss: 149.0226
Epoch 35/50
 - 0s - loss: 145.7832
Epoch 36/50
 - 0s - loss: 144.3988
Epoch 37/50
 - 0s - loss: 140.5740
Epoch 38/50
 - 0s - loss: 138.9323
Epoch 39/50
 - 0s - loss: 136.7482
Epoch 40/50
 - 0s - loss: 134.5434
Epoch 41/50
 - 0s - loss: 133.0008
Epoch 42/50
 - 0s - loss: 129.7590
Epoch 43/50
 - 0s - loss: 128.5845
Epoch 44/50
 - 0s - loss: 126.6830
Epoch 45/50
 - 0s - loss: 125.0870
Epoch 46/50
 - 0s - loss: 127.6004
Epoch 47/50
 - 0s - loss: 122.2951
Epoch 48/50
 - 0s - loss: 120.4210
Epoch 49/50
 - 0s - loss: 119.4249
Epoch 50/50
 - 0s - loss: 116.9435

### 3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [17]:
# Predict for test set
pred = model.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
err = mean_squared_error(y_test, pred)
print(err)

133.4453739648158

Error value is very big for the given set-up

### 4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [20]:
#Define model as model1 which we will use with 50 iterations
model1 = Sequential()
model1.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model1.add(Dense(1))
# compile model
model1.compile(optimizer='adam', loss='mean_squared_error')

In [21]:
#Error value holder
error = np.zeros(50)

# For loop for 50 iterations
for i in range(50):
    X_tr, X_tt, y_tr, y_tt = train_test_split(predictors, target, test_size=0.30, random_state=1, shuffle=True)
    hist = model1.fit(X_tr, y_tr, epochs=50, verbose=0)
    preds = model1.predict(X_tt)
    err = mean_squared_error(y_tt, preds)
    error[i] = err
    print("Error from iteration {}, is {}".format(i+1,err))

Error from iteration 1, is 652.695859894607
Error from iteration 2, is 151.742728260254
Error from iteration 3, is 135.93225900382052
Error from iteration 4, is 136.6491118965096
Error from iteration 5, is 124.15768531325509
Error from iteration 6, is 120.48022526021221
Error from iteration 7, is 126.10351136643416
Error from iteration 8, is 119.83382511059303
Error from iteration 9, is 120.9537485504332
Error from iteration 10, is 138.24797059435684
Error from iteration 11, is 120.47921059560332
Error from iteration 12, is 136.64590248616537
Error from iteration 13, is 126.5150344971003
Error from iteration 14, is 122.2782756398972
Error from iteration 15, is 119.93440076945133
Error from iteration 16, is 125.06570637865822
Error from iteration 17, is 121.03785012513615
Error from iteration 18, is 120.06733933347864
Error from iteration 19, is 120.93859700362832
Error from iteration 20, is 136.064147966521
Error from iteration 21, is 121.48172928360661
Error from iteration 22, is 119.58963158658761
Error from iteration 23, is 119.90035922968367
Error from iteration 24, is 124.11790480811555
Error from iteration 25, is 123.24544325168556
Error from iteration 26, is 109.89594337859181
Error from iteration 27, is 73.7017923681554
Error from iteration 28, is 68.04680988554396
Error from iteration 29, is 63.42577007033639
Error from iteration 30, is 61.17667375801862
Error from iteration 31, is 59.22661977277944
Error from iteration 32, is 58.24723023078959
Error from iteration 33, is 58.90938066336604
Error from iteration 34, is 56.946178483721766
Error from iteration 35, is 57.33283974183376
Error from iteration 36, is 57.5846987475175
Error from iteration 37, is 57.33748495510408
Error from iteration 38, is 56.84240112853022
Error from iteration 39, is 59.018816894491486
Error from iteration 40, is 56.963254177667515
Error from iteration 41, is 58.072432628056234
Error from iteration 42, is 57.98203932407449
Error from iteration 43, is 61.99227884191691
Error from iteration 44, is 58.06998896249269
Error from iteration 45, is 56.98296588063147
Error from iteration 46, is 60.44076976522966
Error from iteration 47, is 61.666044171764824
Error from iteration 48, is 58.37162838173257
Error from iteration 49, is 60.77203240807204
Error from iteration 50, is 56.948193243114254

### 5. Report the mean and the standard deviation of the mean squared errors.

In [23]:
dev = np.std(error)
Mn = np.mean(error)
print("Mean is {}, and std. deviation is {}".format(Mn,dev))

Mean is 104.60225452138653, and std. deviation is 85.06625348490947