# Regression Model Application on Concrete data

### 1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

### 2. Concrete Data:

For your convenience, the data can be found here again: https://cocl.us/concrete_data. To recap, the predictors in the data of concrete strength include:

    1.Cement
    2.Blast Furnace Slag
    3.Fly Ash
    4.Water
    5.Superplasticizer
    6.Coarse Aggregate
    7.Fine Aggregate

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check shape of data

In [3]:
concrete_data.shape

(1030, 9)

Check the data distribution

In [4]:
concrete_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Cement,1030.0,281.167864,104.506364,102.00,192.375,272.900,350.000,540.0
Blast Furnace Slag,1030.0,73.895825,86.279342,0.00,0.000,22.000,142.950,359.4
Fly Ash,1030.0,54.188350,63.997004,0.00,0.000,0.000,118.300,200.1
Water,1030.0,181.567282,21.354219,121.80,164.900,185.000,192.000,247.0
Superplasticizer,1030.0,6.204660,5.973841,0.00,0.000,6.400,10.200,32.2
Coarse Aggregate,1030.0,972.918932,77.753954,801.00,932.000,968.000,1029.400,1145.0
Fine Aggregate,1030.0,773.580485,80.175980,594.00,730.950,779.500,824.000,992.6
Age,1030.0,45.662136,63.169912,1.00,7.000,28.000,56.000,365.0
Strength,1030.0,35.817961,16.705742,2.33,23.710,34.445,46.135,82.6

Check for any missing values in data

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

There are no missing values in data

Seperate out data for predictors & target data

In [6]:
predictors = concrete_data.drop('Strength', axis=1) # all columns except Strength
target = concrete_data['Strength'] # Strength column

Quickly check the data

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head(3)

0    79.99
1    61.89
2    40.27
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to n_cols since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

## Import neccessary libraries

In [11]:
import keras

Using TensorFlow backend.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

### Build Neural Network model

In [16]:
#Build model with -Three hidden layers, each of 10 nodes and ReLU activation function.
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))
    
# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

### 1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=1, shuffle=True)

### 2. Train the model on the training data using 50 epochs.

In [19]:
history = model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
 - 0s - loss: 1592.4218
Epoch 2/100
 - 0s - loss: 1568.3570
Epoch 3/100
 - 0s - loss: 1549.5254
Epoch 4/100
 - 0s - loss: 1527.1690
Epoch 5/100
 - 0s - loss: 1487.7250
Epoch 6/100
 - 0s - loss: 1421.3609
Epoch 7/100
 - 0s - loss: 1326.0351
Epoch 8/100
 - 0s - loss: 1196.0295
Epoch 9/100
 - 0s - loss: 1024.8405
Epoch 10/100
 - 0s - loss: 811.6128
Epoch 11/100
 - 0s - loss: 587.4668
Epoch 12/100
 - 0s - loss: 396.6214
Epoch 13/100
 - 0s - loss: 280.2671
Epoch 14/100
 - 0s - loss: 232.3198
Epoch 15/100
 - 0s - loss: 212.2637
Epoch 16/100
 - 0s - loss: 198.9153
Epoch 17/100
 - 0s - loss: 188.9331
Epoch 18/100
 - 0s - loss: 180.9500
Epoch 19/100
 - 0s - loss: 175.0086
Epoch 20/100
 - 0s - loss: 170.3097
Epoch 21/100
 - 0s - loss: 166.0566
Epoch 22/100
 - 0s - loss: 162.2598
Epoch 23/100
 - 0s - loss: 159.2204
Epoch 24/100
 - 0s - loss: 156.0621
Epoch 25/100
 - 0s - loss: 153.5704
Epoch 26/100
 - 0s - loss: 151.1840
Epoch 27/100
 - 0s - loss: 148.4492
Epoch 28/100
 - 0s - loss: 146.1363
Epoch 29/100
 - 0s - loss: 143.7545
Epoch 30/100
 - 0s - loss: 141.9189
Epoch 31/100
 - 0s - loss: 140.3725
Epoch 32/100
 - 0s - loss: 138.5060
Epoch 33/100
 - 0s - loss: 136.6121
Epoch 34/100
 - 0s - loss: 135.2456
Epoch 35/100
 - 0s - loss: 133.6761
Epoch 36/100
 - 0s - loss: 131.9029
Epoch 37/100
 - 0s - loss: 131.0389
Epoch 38/100
 - 0s - loss: 129.3155
Epoch 39/100
 - 0s - loss: 128.0599
Epoch 40/100
 - 0s - loss: 126.9176
Epoch 41/100
 - 0s - loss: 125.7242
Epoch 42/100
 - 0s - loss: 124.5322
Epoch 43/100
 - 0s - loss: 123.6824
Epoch 44/100
 - 0s - loss: 122.5534
Epoch 45/100
 - 0s - loss: 121.7952
Epoch 46/100
 - 0s - loss: 120.9246
Epoch 47/100
 - 0s - loss: 120.0288
Epoch 48/100
 - 0s - loss: 119.4906
Epoch 49/100
 - 0s - loss: 118.4666
Epoch 50/100
 - 0s - loss: 117.8365
Epoch 51/100
 - 0s - loss: 116.9480
Epoch 52/100
 - 0s - loss: 116.4615
Epoch 53/100
 - 0s - loss: 116.0895
Epoch 54/100
 - 0s - loss: 115.3987
Epoch 55/100
 - 0s - loss: 114.8963
Epoch 56/100
 - 0s - loss: 114.2471
Epoch 57/100
 - 0s - loss: 113.4966
Epoch 58/100
 - 0s - loss: 113.0231
Epoch 59/100
 - 0s - loss: 112.3116
Epoch 60/100
 - 0s - loss: 111.8731
Epoch 61/100
 - 0s - loss: 111.5429
Epoch 62/100
 - 0s - loss: 110.7235
Epoch 63/100
 - 0s - loss: 110.2119
Epoch 64/100
 - 0s - loss: 109.6777
Epoch 65/100
 - 0s - loss: 109.2510
Epoch 66/100
 - 0s - loss: 108.4560
Epoch 67/100
 - 0s - loss: 107.9061
Epoch 68/100
 - 0s - loss: 107.5873
Epoch 69/100
 - 0s - loss: 107.0625
Epoch 70/100
 - 0s - loss: 106.2639
Epoch 71/100
 - 0s - loss: 105.8381
Epoch 72/100
 - 0s - loss: 105.3019
Epoch 73/100
 - 0s - loss: 104.6348
Epoch 74/100
 - 0s - loss: 104.0091
Epoch 75/100
 - 0s - loss: 103.3737
Epoch 76/100
 - 0s - loss: 102.5698
Epoch 77/100
 - 0s - loss: 101.6280
Epoch 78/100
 - 0s - loss: 101.1757
Epoch 79/100
 - 0s - loss: 100.1931
Epoch 80/100
 - 0s - loss: 99.4684
Epoch 81/100
 - 0s - loss: 98.5198
Epoch 82/100
 - 0s - loss: 98.0339
Epoch 83/100
 - 0s - loss: 96.9292
Epoch 84/100
 - 0s - loss: 96.4570
Epoch 85/100
 - 0s - loss: 95.3444
Epoch 86/100
 - 0s - loss: 94.4896
Epoch 87/100
 - 0s - loss: 93.8355
Epoch 88/100
 - 0s - loss: 93.1713
Epoch 89/100
 - 0s - loss: 92.3826
Epoch 90/100
 - 0s - loss: 91.3502
Epoch 91/100
 - 0s - loss: 90.9720
Epoch 92/100
 - 0s - loss: 89.8236
Epoch 93/100
 - 0s - loss: 88.8981
Epoch 94/100
 - 0s - loss: 88.2222
Epoch 95/100
 - 0s - loss: 87.2856
Epoch 96/100
 - 0s - loss: 86.1802
Epoch 97/100
 - 0s - loss: 85.2811
Epoch 98/100
 - 0s - loss: 84.1431
Epoch 99/100
 - 0s - loss: 82.8987
Epoch 100/100
 - 0s - loss: 81.5896

### 3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [21]:
pred = model.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
err = mean_squared_error(y_test, pred)
print(err)

103.49187087030481

Error value is very big for the given set-up

### 4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [27]:
#Define model as model1 which we will use with 50 iterations
model1 =Sequential()
model1.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model1.add(Dense(10, activation='relu'))
model1.add(Dense(10, activation='relu'))
model1.add(Dense(1))

# compile model
model1.compile(optimizer='adam', loss='mean_squared_error')

In [28]:
#Error value holder
error = np.zeros(50)

# For loop for 50 iterations
for i in range(50):
    X_tr, X_tt, y_tr, y_tt = train_test_split(predictors_norm, target, test_size=0.30, random_state=1, shuffle=True)
    hist = model1.fit(X_tr, y_tr, epochs=100, verbose=0)
    preds = model1.predict(X_tt)
    err = mean_squared_error(y_tt, preds)
    error[i] = err
    print("Error from iteration {}, is {}".format(i+1,err))

Error from iteration 1, is 136.9259152176
Error from iteration 2, is 74.97177975224474
Error from iteration 3, is 50.64787439559662
Error from iteration 4, is 43.06147152438898
Error from iteration 5, is 41.71097449123466
Error from iteration 6, is 40.30179056075955
Error from iteration 7, is 38.98212162405245
Error from iteration 8, is 37.310764845664806
Error from iteration 9, is 36.63435881972199
Error from iteration 10, is 34.52962267347609
Error from iteration 11, is 34.022278705260575
Error from iteration 12, is 32.16472885879658
Error from iteration 13, is 31.36594285785238
Error from iteration 14, is 30.230095723962794
Error from iteration 15, is 32.18697821957679
Error from iteration 16, is 29.87123420852432
Error from iteration 17, is 29.64744593494271
Error from iteration 18, is 30.1772054336269
Error from iteration 19, is 31.204457460785346
Error from iteration 20, is 30.545535113317015
Error from iteration 21, is 30.063032644553566
Error from iteration 22, is 31.177112923585646
Error from iteration 23, is 30.67679279261131
Error from iteration 24, is 30.326850901079354
Error from iteration 25, is 30.820436735012603
Error from iteration 26, is 30.89224339998173
Error from iteration 27, is 31.89281320059274
Error from iteration 28, is 30.43489554433319
Error from iteration 29, is 30.421360377120724
Error from iteration 30, is 30.1193214247986
Error from iteration 31, is 30.14944389836394
Error from iteration 32, is 30.571995366393125
Error from iteration 33, is 29.930543156181624
Error from iteration 34, is 30.003233765898372
Error from iteration 35, is 30.53350701849166
Error from iteration 36, is 30.807834356616468
Error from iteration 37, is 32.00521508632791
Error from iteration 38, is 30.568120383682768
Error from iteration 39, is 30.450828093545773
Error from iteration 40, is 30.577007320053607
Error from iteration 41, is 30.904233510391826
Error from iteration 42, is 30.55237094009892
Error from iteration 43, is 31.93273591477623
Error from iteration 44, is 30.124454076326067
Error from iteration 45, is 30.660881340590905
Error from iteration 46, is 30.847138914458725
Error from iteration 47, is 31.195696683299087
Error from iteration 48, is 30.320131297028908
Error from iteration 49, is 30.95322908936553
Error from iteration 50, is 30.61406080009783

### 5. Report the mean and the standard deviation of the mean squared errors.

In [29]:
dev = np.std(error)
Mn = np.mean(error)
print("Mean is {}, and std. deviation is {}".format(Mn,dev))

Mean is 35.34040194754088, and std. deviation is 16.19899871006524

### How does the mean of the mean squared errors compare to that from Step B?

Mean & std. deviation further improved significantly from Step-B